
body {
    margin: 45;
    font-family: sans-serif;
    line-height: 1.5;
}

.nagusia {
    display: grid; 
    grid-template-rows: 4rem auto 200px; 
    grid-template-columns: 1fr 0 3fr 0; 
	
	
    grid-template-areas: 
        "header header header header"
        ".      nav    main   .     "
        "footer footer footer footer";
		
	
}

.nagusia header {
    grid-area: header;   
    background: #b0e0f0; 
    font-size: 3rem; 
    text-align: center; 
}
.nagusia nav {
    grid-area: nav; 
}
.nagusia .main {
    grid-area: main; 
}
.nagusia footer {
    grid-area: footer; 
    background: #b0e0f0;
}



h1 {
    font-size: 45px;
    margin: 0;
}
.nav{
    background-color: rgba(241, 241, 241, 1);
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 30px #00000033;
    min-width: 250px;
}
li {
    list-style: none;
}
li a {
    background-color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    display: block;
    color: black;
}
li a:hover { 
    background-color:black;
    color: white;
}
